<h1>Show New Diem</h1>

<p> User <%= @user.name %> </p>
<p> Date <%= @info.custdate%> </p>
<p> Moon Sign: <%= @info.moonsign %> </p>
<p> Moon Status: <%= @info.moonstat %> </p>

<p> <%= %> </p>
<p> <%= %> </p>